In [94]:
from elasticsearch import Elasticsearch
import numpy
import json
import pandas as pd

# Loading the json

In [106]:
df = pd.read_json(r'data/data2/400gbJson.json')

In [107]:
df.head()

,name,aliases,genres,description,type,release_date
0,Jail Breakers,[Dasso yugi@en],"[Action Film, Crime Fiction Film]",[Jail Breakers is a crime fiction film directe...,"[common.topic, film.film]",1976-06-19
1,Kvelden er din,[None],[None],[None],"[common.topic, tv.tv_program]",2012-03-24
2,Grandeur et decadence dun petit commerce de Ci...,[None],[None],[Grandeur et decadence dun petit commerce de C...,"[common.topic, film.film]",1986
3,The Doors: Live in Europe (1968),[None],"[Music Film, Documentary Film]",[None],"[common.topic, film.film, media_common.netflix...",1991
4,Smert Tairova,[None],[None],[Smert Tairova is a 2003 film directed by Bori...,"[award.award_nominated_work, award.award_winni...",2003

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339674 entries, 0 to 339673
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          339674 non-null  object
 1   aliases       339674 non-null  object
 2   genres        339674 non-null  object
 3   description   339674 non-null  object
 4   type          339674 non-null  object
 5   release_date  339674 non-null  object
dtypes: object(6)
memory usage: 15.5+ MB

Num of records:

In [109]:
len(df)

339674

In [167]:
df.columns

Index(['name', 'aliases', 'genres', 'description', 'type', 'release_date'], dtype='object')

### aliases

In [ ]:
df['aliases'].value_counts()

### genres

### type

### release_date

Lets see the oldest movie in our dataset:

In [110]:
df[df['release_date'] == df['release_date'].min()]

,name,aliases,genres,description,type,release_date
156470,The Downtime,[None],"[Drama Film, Short Film TV Program, Short Film...",[The Downtime is a short comedy drama film dir...,"[common.topic, film.film]",0214-02-28

It seems that there are some inconsistent data from the freebase since the first recorded film was produced in the end of the 19th century. We adjust the data so that we only view data that are past this from and past this date.

In [111]:
date_column = df[(df['release_date'] >= '1870') & (df['release_date'] <= "2020") & (df['release_date'] != "None")]['release_date']

In [112]:
date_column.min()

'1880'

In [156]:
date_column.max()

'2019'

In [157]:
date_column

0         1976
1         2012
2         1986
3         1991
4         2003
          ...
339648    2013
339653    2013
339658    2013
339661    2013
339673    1976
Name: release_date, Length: 296369, dtype: object

In [158]:
date_column = pd.to_datetime(date_column)

In [159]:
date_column = date_column.map(lambda x: x.strftime('%Y'))

In [160]:
print(date_column)

0         1976
1         2012
2         1986
3         1991
4         2003
          ...
339648    2013
339653    2013
339658    2013
339661    2013
339673    1976
Name: release_date, Length: 296369, dtype: object

In [161]:
date_column.describe()

count     296369
unique       133
top         2013
freq       15842
Name: release_date, dtype: object

In [162]:
date_column.value_counts()

2013    15842
2012    14253
2008    14068
2009    13274
2011    12814
        ...
1890        2
1889        2
1888        1
1880        1
1893        1
Name: release_date, Length: 133, dtype: int64

In [164]:
date_column.value_counts()[:40].to_frame()

      release_date
2013         15842
2012         14253
2008         14068
2009         13274
2011         12814
2010         12487
2007         11653
2006         11552
2005         10541
2004          9707
2014          9145
2003          7978
2002          7061
2001          6259
2000          5914
1999          5287
1998          4658
1997          4309
1996          3939
1995          3899
1994          3595
1993          3393
1992          3109
1990          2971
1991          2947
1989          2878
1987          2804
1988          2725
1985          2535
1986          2517
1984          2410
1983          2326
1982          2202
1979          2057
1980          2024
1981          2013
1978          1886
1977          1853
1972          1822
1976          1807

In [155]:
date_column.value_counts()[40:80].to_frame()

      release_date
1971          1805
1974          1762
1973          1738
1968          1650
1975          1650
1970          1643
1969          1610
1965          1572
1967          1560
1966          1485
2015          1461
1964          1379
1958          1275
1961          1267
1959          1249
1962          1238
1957          1217
1960          1199
1963          1184
1951          1143
1952          1135
1955          1133
1956          1116
1950          1099
1953          1098
1954          1060
1949           973
1936           965
1937           955
1942           907
1938           879
1939           877
1941           867
1948           862
1940           861
1935           836
1934           813
1943           807
1947           788
1946           753

In [150]:
date_column.value_counts()[80:].to_frame()

      release_date
1933           735
1931           728
1932           704
1944           693
1945           676
1930           644
1916           598
1915           590
1929           578
1928           553
1927           539
1914           538
1920           521
1917           513
1919           509
1921           480
1918           466
1926           460
1925           452
1923           416
1924           416
1913           401
1922           391
1912           247
1911           207
1910           136
1909            91
1908            79
1896            76
1900            66
2016            63
1898            57
1901            43
1907            40
1897            40
1902            38
1906            29
1899            27
1903            26
1895            24
1905            21
2017            19
1894            18
1904            11
2018             7
1892             4
2019             4
1891             3
1890             2
1889             2
1888             1
1880             1
1893             1

In [7]:
es = Elasticsearch(HOST="http://localhost", PORT=9200)
es = Elasticsearch()

In [9]:
es.indices.create(index="second_index")

{'acknowledged': True, 'shards_acknowledged': True, 'index': 'second_index'}

In [10]:
es.indices.exists("first_index")

True