In [99]:
from elasticsearch import Elasticsearch
from elasticsearch import helpers
import numpy as np
import json
import pandas as pd
import datetime 
from datetime import datetime
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# Descriptive statistics

In [2]:
df = pd.read_json(r'data/data2/400gbJson.json')

In [3]:
df.head()

,name,aliases,genres,description,type,release_date
0,Jail Breakers,[Dasso yugi@en],"[Action Film, Crime Fiction Film]",[Jail Breakers is a crime fiction film directe...,"[commontopic, film.film]",1976-06-19
1,Kvelden er din,[None],[None],[None],"[common.topic, tv.tv_program]",2012-03-24
2,Grandeur et decadence dun petit commerce de Ci...,[None],[None],[Grandeur et decadence dun petit commerce de C...,"[common.topic, film.film]",1986
3,The Doors: Live in Europe (1968),[None],"[Music Film, Documentary Film]",[None],"[common.topic, film.film, media_common.netflix...",1991
4,Smert Tairova,[None],[None],[Smert Tairova is a 2003 film directed by Bori...,"[award.award_nominated_work, award.award_winni...",2003

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339674 entries, 0 to 339673
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          339674 non-null  object
 1   aliases       339674 non-null  object
 2   genres        339674 non-null  object
 3   description   339674 non-null  object
 4   type          339674 non-null  object
 5   release_date  339674 non-null  object
dtypes: object(6)
memory usage: 15.5+ MB

Num of records:

In [5]:
len(df)

339674

In [6]:
df.head()

,name,aliases,genres,description,type,release_date
0,Jail Breakers,[Dasso yugi@en],"[Action Film, Crime Fiction Film]",[Jail Breakers is a crime fiction film directe...,"[commontopic, film.film]",1976-06-19
1,Kvelden er din,[None],[None],[None],"[common.topic, tv.tv_program]",2012-03-24
2,Grandeur et decadence dun petit commerce de Ci...,[None],[None],[Grandeur et decadence dun petit commerce de C...,"[common.topic, film.film]",1986
3,The Doors: Live in Europe (1968),[None],"[Music Film, Documentary Film]",[None],"[common.topic, film.film, media_common.netflix...",1991
4,Smert Tairova,[None],[None],[Smert Tairova is a 2003 film directed by Bori...,"[award.award_nominated_work, award.award_winni...",2003

### aliases

In [7]:
aliases = df.loc[:, ['name','aliases','release_date']]

In [8]:
aliases.head(15)

,name,aliases,release_date
0,Jail Breakers,[Dasso yugi@en],1976-06-19
1,Kvelden er din,[None],2012-03-24
2,Grandeur et decadence dun petit commerce de Ci...,[None],1986
3,The Doors: Live in Europe (1968),[None],1991
4,Smert Tairova,[None],2003
5,Claire,[None],None
6,The Devilish Plank,[None],None
7,Op de Hollandse Toer,[None],1973
8,Le papillon fantastique,[None],1909
9,Mamushi to aodaishô,[None],1975-03-08
10,Abashiri bangaichi: Fubuki no tôsô,"[A Story from Abashiri@en, Abashiri Prison: Du...",1967-12-23
11,The imperilled,[Barzakhiha@en],1982
12,The Newspaper Seller,[Bayaat el jarayed@en],1964
13,Al-Thaman,[None],2012-05-22
14,PES -peace eco smile-,[None],2012-03-28

Num of maximum aliases:

In [9]:
max_aliases = aliases.loc[:,'aliases'].apply(lambda x: len(x))

In [10]:
max_aliases.head(15)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    3
11    1
12    1
13    1
14    1
Name: aliases, dtype: int64

Index of record with max aliases:

In [11]:
max_index_aliases = max_aliases[max_aliases == max_aliases.max()].index

In [12]:
max_index_aliases

Int64Index([223198], dtype='int64')

In [13]:
aliases.iloc[max_index_aliases]

,name,aliases,release_date
223198,Star Wars,"[A Guerra das Estrelas@en, ANH@en, Adventures ...",1977

In [14]:
max_aliases.max()

66

In [15]:
aliases = aliases.explode('aliases')

In [16]:
aliases.head(16)

,name,aliases,release_date
0,Jail Breakers,Dasso yugi@en,1976-06-19
1,Kvelden er din,None,2012-03-24
2,Grandeur et decadence dun petit commerce de Ci...,None,1986
3,The Doors: Live in Europe (1968),None,1991
4,Smert Tairova,None,2003
5,Claire,None,None
6,The Devilish Plank,None,None
7,Op de Hollandse Toer,None,1973
8,Le papillon fantastique,None,1909
9,Mamushi to aodaishô,None,1975-03-08
10,Abashiri bangaichi: Fubuki no tôsô,A Story from Abashiri@en,1967-12-23
10,Abashiri bangaichi: Fubuki no tôsô,Abashiri Prison: Duel in the Blizzard@en,1967-12-23
10,Abashiri bangaichi: Fubuki no tôsô,Abashiri Prison: Duel in the Snow Storm@en,1967-12-23
11,The imperilled,Barzakhiha@en,1982
12,The Newspaper Seller,Bayaat el jarayed@en,1964
13,Al-Thaman,None,2012-05-22

Num of records with None aliases:

In [17]:
len(aliases[aliases['aliases'] == "None"])

253476

### genres

In [18]:
genres = df.loc[:, ['name','genres','release_date']]

In [19]:
genres

,name,genres,release_date
0,Jail Breakers,"[Action Film, Crime Fiction Film]",1976-06-19
1,Kvelden er din,[None],2012-03-24
2,Grandeur et decadence dun petit commerce de Ci...,[None],1986
3,The Doors: Live in Europe (1968),"[Music Film, Documentary Film]",1991
4,Smert Tairova,[None],2003
...,...,...,...
339669,It's Not About the Shawerma,[None],None
339670,Ambrose's Lofty Perch,[None],None
339671,The Enchanted Spectacles,[None],None
339672,Mounting Tension,[None],None
339673,The Red Tapes,[Epic Film],1976

In [20]:
max_genres = genres.loc[:,'genres'].apply(lambda x: len(x))

In [21]:
max_genres.head(15)

0     2
1     1
2     1
3     2
4     1
5     2
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    2
Name: genres, dtype: int64

In [22]:
max_genres = genres.apply(lambda x: len(x['genres']), axis=1)

In [23]:
max_genres.head(15)

0     2
1     1
2     1
3     2
4     1
5     2
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    2
dtype: int64

In [24]:
max_index_genres = max_genres[max_genres == max_genres.max()].index

In [25]:
max_index_genres

Int64Index([44460, 73818], dtype='int64')

In [26]:
genres.iloc[max_index_genres]

,name,genres,release_date
44460,Batman: The Animated Series,"[Fantasy TV Program, Action TV Program, Thrill...",1992-09-05
73818,The 10th Kingdom,"[Fantasy Film, Romance Film, Romantic comedy F...",2000-02-27

In [27]:
max_genres.max()

16

In [28]:
genres = genres.explode('genres')

In [76]:
genres['genres'].value_counts()[:4]

Drama Film               75514
None                     71245
Romantic comedy Film     65345
Short Film TV Program    46324
Name: genres, dtype: int64

### type

In [30]:
types = df.loc[:, ['name','type','release_date']]

In [31]:
types

,name,type,release_date
0,Jail Breakers,"[commontopic, film.film]",1976-06-19
1,Kvelden er din,"[common.topic, tv.tv_program]",2012-03-24
2,Grandeur et decadence dun petit commerce de Ci...,"[common.topic, film.film]",1986
3,The Doors: Live in Europe (1968),"[common.topic, film.film, media_common.netflix...",1991
4,Smert Tairova,"[award.award_nominated_work, award.award_winni...",2003
...,...,...,...
339669,It's Not About the Shawerma,"[common.topic, film.film]",None
339670,Ambrose's Lofty Perch,"[common.topic, film.film]",None
339671,The Enchanted Spectacles,"[common.topic, film.film]",None
339672,Mounting Tension,"[common.topic, film.film]",None
339673,The Red Tapes,"[common.topic, film.film]",1976

In [32]:
max_types = types.apply(lambda x: len(x['type']), axis=1)

In [33]:
max_types.head(15)

0     2
1     2
2     2
3     3
4     4
5     3
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
dtype: int64

In [34]:
max_index_types = max_types[max_types == max_types.max()].index

In [35]:
max_index_types

Int64Index([60344], dtype='int64')

In [36]:
types.iloc[max_index_types]

       name                                               type release_date
60344  Film  [amusement_parks.ride_theme, award.award_disci...   1998-02-09

In [37]:
max_types.max()

28

In [38]:
types = types.explode('type')

In [39]:
types['type'].value_counts()[:]

common.topic                                      339373
film.film                                         269405
tv.tv_program                                      72695
media_common.netflix_title                         71301
award.award_nominated_work                         38643
                                                   ...
organization.organization_scope                        1
user.skud.fictional_diseases.fictional_disease         1
user.matempo.fan.topic                                 1
soccer.football_team                                   1
user.haripriya_pst.default_domain.comedy               1
Name: type, Length: 473, dtype: int64

### release_date

Lets see the oldest movie in our dataset:

In [40]:
df[df['release_date'] == df['release_date'].min()]

,name,aliases,genres,description,type,release_date
156470,The Downtime,[None],"[Drama Film, Short Film TV Program, Short Film...",[The Downtime is a short comedy drama film dir...,"[common.topic, film.film]",0214-02-28

In [46]:
df[(df['release_date'] > "2020") & (df['release_date'] != "None")]

,name,aliases,genres,description,type,release_date
13181,Russian Yeti: The Killer Lives,[None],"[Action TV Program, Adventure TV Program, Real...","[RUSSIAN YETI: THE KILLER LIVES, a 2-hour spec...","[common.topic, tv.tv_program]",2104-06-01
14405,Shivendra,[None],[None],[None],"[common.topic, film.film]",2034-02-23
20481,Janus: Two Faces of Desire,[카오스@ko],"[Thriller Film, Erotica Film, Romance Film, Ro...",[Janus: Two Faces of Desire is an erotica film...,"[common.topic, film.film]",2104-08-07
23845,Markurells I Wadköping,[None],"[TV Miniseries, TV Drama]",[None],"[common.topic, tv.tv_program]",2068-12-25
32461,Cyborg,[None],[None],[None],"[common.topic, fictional_universe.work_of_fict...",2020-04-03
32462,Green Lantern,[None],[None],[None],"[common.topic, film.film]",2020-06-19
33635,Who The F**k Is Uncle Joe,[None],"[Short Film TV Program, Short Film, Romantic c...",[None],"[common.topic, film.film]",2103
306941,Chingchasawan,[Ching Cha Sawan@en],[TV Variety Show],[None],"[common.topic, tv.tv_program]",2547-11-06
321257,It is,[None],[None],[None],"[common.topic, film.film]",2222-01-02
339349,Blackout,[None],"[Short Film TV Program, Short Film, Historical...","[Blackout is a 2013 animated documentary, hist...","[common.topic, film.film]",2103-05-22

It seems that there are some inconsistent data from the freebase since the first recorded film was produced in the end of the 19th century and since to this date the year is 2020. We adjust the data so that we only view data that are past this from and past this date.

In [47]:
date_column = df[(df['release_date'] >= '1870') & (df['release_date'] <= "2020") & (df['release_date'] != "None")]['release_date']

In [48]:
date_column.min()

'1880'

In [49]:
date_column.max()

'2019-11-01'

In [50]:
date_column

0         1976-06-19
1         2012-03-24
2               1986
3               1991
4               2003
             ...
339648    2013-02-23
339653    2013-11-29
339658    2013-12-05
339661    2013-06-28
339673          1976
Name: release_date, Length: 296369, dtype: object

In [51]:
date_column = pd.to_datetime(date_column)

In [52]:
date_column = date_column.map(lambda x: x.strftime('%Y'))

In [53]:
print(date_column)

0         1976
1         2012
2         1986
3         1991
4         2003
          ...
339648    2013
339653    2013
339658    2013
339661    2013
339673    1976
Name: release_date, Length: 296369, dtype: object

In [54]:
date_column.describe()

count     296369
unique       133
top         2013
freq       15842
Name: release_date, dtype: object

In [56]:
date_column.value_counts()

2013    15842
2012    14253
2008    14068
2009    13274
2011    12814
        ...
1889        2
1890        2
1888        1
1880        1
1893        1
Name: release_date, Length: 133, dtype: int64

In [91]:
date_column.value_counts().sort_index(ascending=False)[:40]

2019        4
2018        7
2017       19
2016       63
2015     1461
2014     9145
2013    15842
2012    14253
2011    12814
2010    12487
2009    13274
2008    14068
2007    11653
2006    11552
2005    10541
2004     9707
2003     7978
2002     7061
2001     6259
2000     5914
1999     5287
1998     4658
1997     4309
1996     3939
1995     3899
1994     3595
1993     3393
1992     3109
1991     2947
1990     2971
1989     2878
1988     2725
1987     2804
1986     2517
1985     2535
1984     2410
1983     2326
1982     2202
1981     2013
1980     2024
Name: release_date, dtype: int64

In [92]:
date_column.value_counts().sort_index(ascending=False)[40:80]

1979    2057
1978    1886
1977    1853
1976    1807
1975    1650
1974    1762
1973    1738
1972    1822
1971    1805
1970    1643
1969    1610
1968    1650
1967    1560
1966    1485
1965    1572
1964    1379
1963    1184
1962    1238
1961    1267
1960    1199
1959    1249
1958    1275
1957    1217
1956    1116
1955    1133
1954    1060
1953    1098
1952    1135
1951    1143
1950    1099
1949     973
1948     862
1947     788
1946     753
1945     676
1944     693
1943     807
1942     907
1941     867
1940     861
Name: release_date, dtype: int64

In [93]:
date_column.value_counts().sort_index(ascending=False)[80:]

1939    877
1938    879
1937    955
1936    965
1935    836
1934    813
1933    735
1932    704
1931    728
1930    644
1929    578
1928    553
1927    539
1926    460
1925    452
1924    416
1923    416
1922    391
1921    480
1920    521
1919    509
1918    466
1917    513
1916    598
1915    590
1914    538
1913    401
1912    247
1911    207
1910    136
1909     91
1908     79
1907     40
1906     29
1905     21
1904     11
1903     26
1902     38
1901     43
1900     66
1899     27
1898     57
1897     40
1896     76
1895     24
1894     18
1893      1
1892      4
1891      3
1890      2
1889      2
1888      1
1880      1
Name: release_date, dtype: int64

In [95]:
date_column.value_counts()[80:].to_frame()

      release_date
1933           735
1931           728
1932           704
1944           693
1945           676
1930           644
1916           598
1915           590
1929           578
1928           553
1927           539
1914           538
1920           521
1917           513
1919           509
1921           480
1918           466
1926           460
1925           452
1923           416
1924           416
1913           401
1922           391
1912           247
1911           207
1910           136
1909            91
1908            79
1896            76
1900            66
2016            63
1898            57
1901            43
1897            40
1907            40
1902            38
1906            29
1899            27
1903            26
1895            24
1905            21
2017            19
1894            18
1904            11
2018             7
1892             4
2019             4
1891             3
1889             2
1890             2
1888             1
1880             1
1893             1

## Indexing

In [120]:
myfile = open('data/data2/400gbJson.json', 'r',encoding='utf-8')
jsondata = myfile.read()
jsonobj = json.loads(jsondata)

In [121]:
jsondump = []
for i in range(0, len(jsonobj)):
    if(jsonobj[i]['release_date'] == "None"):
        jsonobj[i]['release_date'] = None
    if(jsonobj[i]['name'] != "" and jsonobj[i]['name'] != "None"):
        jsondump.append(json.dumps(jsonobj[i]))

In [122]:
type(jsondump)

list

In [123]:
len(jsondump)

339646

In [124]:
es = Elasticsearch([{'host': 'localhost', 'port': 9200}], timeout=30, max_retries=10, retry_on_timeout=True)
helpers.bulk(es, jsondump, index='movie')

(339646, [])

In [125]:
#es.indices.delete(index='movie', ignore=[400, 404])

## Searching

### Search by name

Exact matching:

In [127]:
@interact(q = "")
def searchForName(q):
    searches = es.search(index="movie", body = {
        "query": {
            "match_phrase": {
                "name.keyword": q
            }
        }
    })
    return list(map(lambda x: x["_source"], searches["hits"]["hits"]))

interactive(children=(Text(value='', description='q'), Output()), _dom_classes=('widget-interact',))